<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Carrello</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Benvenut* <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a href="Logout">Logout</a>
	</div>
	<div class="barraMenu">
		<table>
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td><a href="GoToCarrello">Carrello</a></td>
				<td><a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST"> <!-- SI FA COSI'? -->
						Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword">
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>	
	</div>
	<div class="prodottiCarrello">
		<table class="tabellaCentrata">
			<tr  th:each="f : ${fornitori}">
				<td>
					<table style="border: 1px solid black; width: 100%;">
						<tr><td colspan="3"><span th:text="${f.IdForn}"></span><br></td></tr>
						<tr th:each="p : ${f.prodotti}">
							<td style="width: 110px;">
								<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" width="110" height="110" />
							</td>
							<td>
								<span th:text="${p.categoria}">Categoria</span> - 
								<a th:href="@{/GoToRisultati(idProdotto=${p.ID})}">
								<span th:text="${p.nome}">Nome prodotto</span></a>
							</td>
							<td style="text-align: right; width: 90px;">							
								x<span th:text="${p.quantita}">Quantità</span> 
								<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;
							</td>
						</tr>
						<tr style="text-align: right;">
							<td colspan="2"><span>Totale:</span></td>
							<td><span>00.00</span> &euro;</td>
						</tr>
						<tr style="text-align: right;">
							<td colspan="2"><span>Spedizione:</span></td>
							<td><span>00.00</span> &euro;</td>
						</tr>
						<tr style="text-align: right;">
							<td colspan="3">
								<!-- <form th:action="@{/GoToOrdini(idForn=${p.fornitore.ID})}" method="POST"> --><!-- SI FA COSI'? -->
									<form th:action="GoToOrdini" method="POST">
									<input type="submit" value="ORDINA">
								</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>