<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Carrello</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div>
		<table class="logUtente"><tr>
			<td>Felice di vederti <span th:text="${session.utente.nome}">utente</span></td>
			<td>&emsp;<a href="Logout">Logout</a></td>
		</tr></table>
	</div>
	<div>
		<table class="barraMenu">
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td>&emsp;<a href="GoToCarrello">Carrello</a></td>
				<td>&emsp;<a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST">
						&emsp;Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword" id="keyword" required>
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr  th:each="f : ${fornitori}">
				<td>
					<table class="tabellaProdotti">
						<tr><td colspan="3"><b><span th:text="${f.fornitore.nome}">Fornitore</span></b><br><br></td></tr>
						<tr th:each="p : ${f.prodotti}">
							<td style="width: 110px;">
								<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" class="immagineMedia" />
							</td>
							<td>
								<span th:text="${p.categoria}">Categoria</span> - 
								<span th:text="${p.nome}">Nome prodotto</span>
							</td>
							<td class="testoDx" style="width: 90px;">							
								x<span th:text="${p.quantita}">Quantità</span> 
								<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;
							</td>
						</tr>
						<tr class="testoDx">
							<td colspan="2"><span>Totale:</span></td>
							<td><span th:text="${#numbers.formatDecimal(f.totaleCosto, 0, 'COMMA', 2, 'POINT')}"></span> &euro;</td>
						</tr>
						<tr class="testoDx">
							<td colspan="2"><span>Spedizione:</span></td>
							<td><span th:text="${#numbers.formatDecimal(f.costoSpedizione, 0, 'COMMA', 2, 'POINT')}"></span> &euro;</td>
						</tr>
						<tr>
							<td colspan="3">
								<form th:action="@{/GoToOrdini(idForn=${f.fornitore.ID})}" method="POST">
									<table style="width: 100%; text-align: right; margin-top: 10px;">
										<tr><td>Città:</td><td style="width:30%;"><input type="text" name="citta" th:value="${session.utente.indirizzo.citta}" id="citta" required></td></tr>
										<tr><td>Via:</td><td><input type="text" name="via" th:value="${session.utente.indirizzo.via}" id="via" required></td></tr>
										<tr><td>Numero:</td><td><input type="text" name="numero" th:value="${session.utente.indirizzo.numero}" id="numero" required></td></tr>
										<tr><td>CAP:</td><td><input type="text" name="cap" th:value="${session.utente.indirizzo.cap}" id="cap" required></td></tr>
										<tr>
											<td colspan="2">
												<input type="submit" value="ORDINA">
											</td>
										</tr>
									</table>
								</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr th:if="${fornitori.empty}"><td>Non ci sono prodotti nel carrello</td></tr>
		</table>
	</div>
</body>
</html>