<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Carrello</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Benvenut* <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a href="Logout">Logout</a>
	</div>
	<div class="barraMenu">
		<table>
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td><a href="GoToCarrello">Carrello</a></td>
				<td><a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST"> <!-- SI FA COSI'? -->
						Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword">
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>	
	</div>
	<div class="prodottiCarrello">
		<table class="tabellaCentrata">
			<tr  th:each="f : ${fornitori}">
				<td>
					<table>
						<tr th:each="p : ${f}">
							<td style="text-align: center;">
								<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" width="75" height="75" />
							</td>
							<td style="text-align: center;">
								<span th:text="${p.categoria}">Categoria</span><br>
								<a th:href="@{/GoToRisultati(idProdotto=${p.ID})}">
								<span th:text="${p.nome}">Nome prodotto</span><br></a>
								<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;
								<span th:text="${p.quantita}">Quantita</span>
							</td>
							<td colspan="2" style="text-align: right;">
								<span>Prezzo totale prodotti</span> &euro;
								<span>Prezzo spedizione</span> &euro;
							</td>
							<td>
								<form th:action="@{/GoToOrdini(idForn=${p.fornitore.ID})}" method="POST"> <!-- SI FA COSI'? -->
									<input type="submit" value="ORDINA">
								</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>