<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<table>
<tr>
<td th:fragment="product">
	<table style="width:100%">
		<tr>
		 	 <td style="padding-left: 5px;">
		 	 	&#9679;<span th:text="${product.fornitore.nome}">Fornitore</span> - 
				<span th:text="${product.fornitore.valutazione}"> Valutazione</span> &#9733; - 
				<span th:text="${#numbers.formatDecimal(product.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span>&euro;<br><br>
				<p th:each="fascia : ${product.fornitore.politica}"> # minimo prodotti: <span th:text="${fascia.Min}"></span> 
				 # massimo prodotti: <span th:text="${fascia.Max}"></span> - Spedizione: <span th:text="${fascia.Prezzo}"></span>&euro;</p>
			  </td>
			  <td valign="top">
			  	<div th:switch="${product.fornitore.soglia}"> 
				  <p th:case="-1">La soglia per la spedizione gratis non è presente</p>
				  <p th:case="*">La soglia per la spedizione gratis è di: <span th:text="${#numbers.formatDecimal(product.fornitore.soglia, 0, 'COMMA', 2, 'POINT')}">Soglia</span>&euro;</p> 
				</div>
				  <br><br>
				  Numero di prodotti già nel carrello: <span th:text="${product.quantita}"></span><br>
				  Valore dei prodotti già nel carrello: <span th:text="${product.valore}"></span><br><br><br>
				  <form action="GoToCarrello" method="POST" style="text-align: center;"> 
			  			<input type="hidden" name="IdFor" th:value="${product.fornitore.ID}"> 
			  			<input type="hidden" name="IdProd" th:value="${product.ID}"> 
						<input type="number" name="quantita" id="quantita" min="1" style="width: 55px">
						<input type="submit" value="Inserisci">
				  </form>
			  </td>
		</tr>
	</table>
</td>
</tr>
</table>

</body>

</html>