<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Benvenut* <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a th:href="@{/Logout}">Logout</a>
	</div>
	<div class="barraMenu">
		<table style="margin-left: auto; margin-right: auto;">
			<tr>
				<td><a th:href="@{/GoToHome}">Home</a></td>
				<td><a th:href="@{/GoToCarrello}">Carrello</a></td>
				<td><a th:href="@{/GoToOrdini}">Ordini</a></td>
				<td>
					<form action="GoToRisultati" th:href="@{/GoToRisultati}" method="POST"> <!-- SI FA COSI'? -->
						Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword">
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>	
	</div>
	<div class="prodottiRecenti">
		<table class="tabellaCentrata">
		<tr>
			<td style="text-align: center;" th:each="p : ${prodotti}">
				<a th:href="@{/GoToRisultati(idProdotto=${p.ID})}">
					<span th:text="${p.ID}">Codice</span> - <span th:text="${p.nome}">Nome prodotto</span>
				</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;" th:each="p : ${prodotti}"> <img src="${p.immagine}" alt="" border=3 height=100 width=100></td>
		</tr>
		</table>		
	</div>
	<div class="elencoProdotti">
		ELENCO PRODOTTI DA IMPLEMENTARE?
	</div>
</body>
</html>