<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Felice di vederti <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a href="Logout">Logout</a>
	</div>
	<div class="barraMenu">
		<table>
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td>&emsp;<a href="GoToCarrello">Carrello</a></td>
				<td>&emsp;<a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST">
						&emsp;Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword" id="keyword" required>
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr  th:each="p : ${prodotti}">
				<td style="text-align: center; padding-right: 5px;">
					<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" width="150" height="150" />
				</td>
				<td valign="top">
					<span th:text="${p.categoria}">Categoria</span><br><br>
					<a th:href="@{/GoToRisultati(idProdotto=${p.ID})}">
					<span th:text="${p.nome}">Nome prodotto</span></a> - 
					<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;<br><br>
					<span th:text="${p.descrizione}">Descrizione</span>
				</td> 
			</tr>
		</table>		
	</div>
</body>
</html>