<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Ordini</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Felice di vederti <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a th:href="Logout">Logout</a>
	</div>
	<div class="barraMenu">
		<table>
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td><a href="GoToCarrello">Carrello</a></td>
				<td><a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST"> <!-- SI FA COSI'? -->
						Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword">
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>	
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr th:each="o : ${ordini}" > <!-- x ogni ordine memorizzato -->
				<td>
					<table style="border: 1px solid black; width: 100%;">
						<tr>
							<td colspan="3">
								<span th:text="${o.fornitore.nome}">fornitore</span> - 
								<span th:text="${#dates.format(o.data, 'dd-MMM-yyyy')}">DATA</span> - 
								<span th:text="${#numbers.formatDecimal(o.totale, 0, 'COMMA', 2, 'POINT')}"></span> &euro;
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<span>INDIRIZZO</span>
							</td>
						</tr>
						<tr th:each="p : ${o.prodotti}"><!-- x ogni prodotto -->
							<td style="text-align: right; width: 90px;">	
								<span th:text="${p.nome}">Nome</span>   
								<span th:text="${p.quantita}">Quantità</span>   
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>