<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Ordini</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="logUtente">
		Felice di vederti <span th:text="${session.utente.nome}">utente</span>
		&emsp;<a th:href="Logout">Logout</a>
	</div>
	<div class="barraMenu">
		<table>
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td><a href="GoToCarrello">Carrello</a></td>
				<td><a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST"> <!-- SI FA COSI'? -->
						Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword">
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>	
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr> <!-- x ogni ordine memorizzato -->
				<td>
					<table style="border: 1px solid black; width: 100%;">
						<tr>
							<td colspan="3">
								<span>NOME FORNITORE</span> - 
								<span>DATA</span> - 
								<span>TOTALE</span>
								<!-- <span th:text="${#numbers.formatDecimal(f.totaleCosto, 0, 'COMMA', 2, 'POINT')}"></span> &euro;-->
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<span>INDIRIZZO</span>
							</td>
						</tr>
						<tr><!-- x ogni prodotto -->
							<td style="width: 110px;">
								IMMAGINE
								<!--<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" width="110" height="110" />  -->
							</td>
							<td>
								INFO
								<!--<span th:text="${p.categoria}">Categoria</span> - 
								<a th:href="@{/GoToRisultati(idProdotto=${p.ID})}">
								<span th:text="${p.nome}">Nome prodotto</span></a>  -->
							</td>
							<td style="text-align: right; width: 90px;">	
								Q E PREZZO						
								<!--x<span th:text="${p.quantita}">Quantità</span> 
								<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;  -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>