<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Ordini</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div>
		<table class="logUtente"><tr>
			<td>Felice di vederti <span th:text="${session.utente.nome}">utente</span></td>
			<td>&emsp;<a href="Logout">Logout</a></td>
		</tr></table>
	</div>
	<div>
		<table class="barraMenu">
			<tr>
				<td><a href="GoToHome">Home</a></td>
				<td>&emsp;<a href="GoToCarrello">Carrello</a></td>
				<td>&emsp;<a href="GoToOrdini">Ordini</a></td>
				<td>
					<form action="GoToRisultati" method="POST">
						&emsp;Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword" id="keyword" required>
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr th:each="o : ${ordini}" >
				<td>
					<table class="tabellaProdotti" style="font-size: 18px;">
						<tr>
							<td colspan="3" style="font-size: 20px;">
								Acquisto effettuato in data <span th:text="${#dates.format(o.data, 'dd/MM/yyyy')}">data</span><br>
								Presso il venditore <span th:text="${o.fornitore.nome}">fornitore</span> - 
								Totale: <span th:text="${#numbers.formatDecimal(o.totale, 0, 'COMMA', 2, 'POINT')}"></span> &euro;
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<br>Con indirizzo di spedizione:<br>
								Via <span th:text="${o.indirizzo.via}"></span>&nbsp;<span th:text="${o.indirizzo.numero}"></span>,&nbsp;
								<span th:text="${o.indirizzo.citta}"></span>,&nbsp;<span th:text="${o.indirizzo.cap}"></span>
							</td>
						</tr>
						<tr><td><br>Lista dei prodotti acquistati:</td></tr>
						<tr th:each="p : ${o.prodotti}">
							<td>	
								&#9679; <span th:text="${p.nome}">Nome</span>&emsp;x <span th:text="${p.quantita}">Quantità</span>   
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr th:if="${ordini.empty}"><td>Non sono presenti ordini</td></tr>
		</table>
	</div>
</body>
</html>