<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Risultati</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div>
		<table class="logUtente"><tr>
			<td>Felice di vederti <span th:text="${session.utente.nome}">utente</span></td>
			<td>&emsp;<a href="Logout">Logout</a></td>
		</tr></table>
	</div>
	<div>
		<table class="barraMenu">
			<tr>
				<td><a href="VisualizzaHome">Home</a></td>
				<td>&emsp;<a href="VisualizzaCarrello">Carrello</a></td>
				<td>&emsp;<a href="VisualizzaOrdini">Ordini</a></td>
				<td>
					<form action="CercaKeyword" method="GET">
						&emsp;Inserisci una parola chiave per la ricerca nel catalogo: 
						<input type="text" name="keyword" id="keyword" required>
						<input type="submit" value="Cerca">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table class="tabellaCentrata">
			<tr th:each="p : ${prodotti}">
				<td>
					<table class="tabellaRisultati">
						<tr>
							<td class="tdImmagine">
								<a th:href="@{/CercaOfferte(idProdotto=${p.ID})}">
									<img th:src="@{'data:image/jpg;base64,'+${p.immagine}}" th:alt="${p.nome}" class="immagineGrande" />
								</a>
							</td>
							<td class="tdAlto">
								<a th:href="@{/CercaOfferte(idProdotto=${p.ID})}">
									<span th:text="${p.categoria}">Categoria</span><br><br>
									<span th:text="${p.ID}">codice</span> -
									<b><span th:text="${p.nome}">Nome prodotto</span></b> - 
									<span th:text="${#numbers.formatDecimal(p.prezzo, 0, 'COMMA', 2, 'POINT')}">Prezzo</span> &euro;<br><br>
									<span class="spanDescrizione" th:if="${p.id} == ${idDaMostrare}" th:text="${p.descrizione}">Descrizione</span>
								</a>
							</td> 
						</tr>
						<tr th:if="${p.id} == ${idDaMostrare}">
							<td colspan="2" style="padding-left: 155px;">
								<table><tr th:each="product : ${offerte}" th:insert="@{WEB-INF/fragment.html} :: product"></tr></table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr th:if="${prodotti.empty}"><td>La ricerca non ha prodotto risultati</td></tr>
		</table>	
	</div>
</body>
</html>