<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Progetto-TIW-2021</display-name>
<context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/dbprogetto?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>Progetto.2021</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
 <filter> 
      <filter-name>ControlloAccesso</filter-name>
      <filter-class>it.polimi.tiw.progetto.filters.ControlloAccesso</filter-class> 
 </filter> 
 <filter-mapping> 
    <filter-name>ControlloAccesso</filter-name> 
    <url-pattern>/GoToHome</url-pattern> 
    <url-pattern>/GoToCarrello</url-pattern> 
    <url-pattern>/GoToOrdini</url-pattern> 
    <url-pattern>/GoToRisultati</url-pattern> 
    <url-pattern>/Logout</url-pattern> 
 </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>