<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="divLogin">
		<h2 align="center">Benvenuto nel carrello online</h2>
		<h4 align="center">Inserisci le credenziali per accedere</h4>
		<form action="ControllaLogin" method="POST">
			<table class=tabellaLogin>
				<tr>
					<td><input type="email" name="email" placeholder="email" required th:value=" ${emailInserita}"></td>
				</tr>
				<tr>
					<td><input type="password" name="psw" placeholder="password" required></td>
				</tr>
				<tr>			
					<td colspan="2" th:text=" ${errorMsg}"> </td>
				</tr>
				<tr>			
					<td colspan="2"><input type="submit" value="Login"></td>
				</tr>		
			</table><br>
		</form>
	</div>
</body>
</html>