.logUtente{	
	text-align: right;
}
.barraMenu {
	position: relative;
	left: 25%;
	margin-bottom: 25px;
}
.tabellaCentrata, .tabellaLogin{
	margin-left: auto;
	margin-right: auto;
}
table.tabellaLogin input[type=text], table.tabellaCentrata input[type=password]{
	width: 200px;
}
table.barraMenu  a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: black;
 }